<template>
<div>
    <v-toolbar dark id="toolbar">
        <img id="logobar" src="https://gitlab.com/tehnokom/siriuso-surtabla/raw/master/assets/logo.png">
        <input id="search" type="text" placeholder="">
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat>Поехали!</v-btn>
          <v-btn flat>Знания</v-btn>
          <v-btn flat>Общение</v-btn>
          <v-btn flat>Экономика</v-btn>
          <v-btn flat>Войти</v-btn>
        </v-toolbar-items>
      </v-toolbar>
</div>
</template>

<script>
export default {
    
}
</script>

<style>

#toolbar {
  background-color: rgba(0,123,172);
}

#search {
  margin-left: 50px;
}

#search {
  float: right;
  padding: 6px;
  border: 2px;
  margin-right: 16px;
  font-size: 17px;
  background-color: rgb(43, 88, 73);
  border-radius: 8px;
}

#logobar {
  width: 140px;
  margin-left: 100px;
}

</style>
