<template>
<v-app>
   <hederostalo />
   <nuxt />
</v-app>
</template>

<script>
import hederostalo from "@/components/hederostalo";

export default {
  components: {
    hederostalo
  }
};
</script>
