<template>
  <v-app pa0 ma id="main">
    <v-parallax
      src="https://gitlab.com/milan96/slike/raw/master/slikapozadina.jpg"
      dark
      pa-0
      align-center
      height="2500px"
    >
      <heder />
      <v-layout row>
        <v-layout id="linijasloj" row>
          <i id="ikonica1" class="material-icons" href="#" v-scroll-to="'#main'">
          home
          </i>
          <i id="ikonica2" class="material-icons" href="#" v-scroll-to="'#zemljalayer'">
          public
          </i>
          <i id="ikonica3" class="material-icons" href="#" v-scroll-to="'#kartice'">
          info
          </i>
          <v-progress-linear id="linija" v-model="offsetTop*0.031" color="info" height="8"></v-progress-linear>
        </v-layout>
        <v-layout
          align-center
          column
          justify-center
          class="content"
          id="maincontent"
        >
          <img src="https://gitlab.com/tehnokom/siriuso-surtabla/raw/master/assets/starto_logo.png" id="logo">
          <h4 class="display-1 font-weight-medium justify-center" id="title1" >Сделайте шаг в справедливое</h4>
          <h4 class="display-1 font-weight-medium justify-center" id="title2" >и высокотехнологичное будущее</h4>
          <nuxt-link to="/panel"><v-btn id="button1" round large dark>В будущее</v-btn></nuxt-link>
          <img src="https://gitlab.com/tehnokom/siriuso-surtabla/raw/master/assets/arrow_curve_white.png">
          <h4 class="title font-weight-regular mb-5 justify-center">Нажмите на эту кнопку и всё начнётся</h4>
          <a id="strelica" href="#" v-scroll-to="'#zemljalayer'">
            <v-btn outline large fab color="white">
              <v-icon id="strelicacentar">keyboard_arrow_down</v-icon>
            </v-btn></a>
              
          <v-layout id="zemljalayer" align-center
          column
          justify-center>
            <a id="strelica" href="#" v-scroll-to="'#main'">
                <v-btn outline large fab color="white">
                  <v-icon id="strelicacentar">keyboard_arrow_up</v-icon>
                </v-btn>
            </a>
            <div id="zemlja"></div>
            <div></div>
            <a id="strelica1" href="#" v-scroll-to="'#kartice'">
            <v-btn outline large fab color="white">
              <v-icon id="strelicacentar">keyboard_arrow_down</v-icon>
            </v-btn></a>
          </v-layout>
          <v-layout id="kartice">
            <v-layout
            align-center
            column
            justify-center
            id="sadrzajkartica"
            >
            
              <v-layout row>
                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>О технокоме</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                </div> 

                <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>О том для кого Техноком</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div>  

                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>O Советах</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div> 
              </v-layout>
              
              <v-layout row>
                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>O Профсоюзах</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                </div> 

                <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>O Народных предприятиях</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div>  

                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>O Общественных проектах</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div> 
              </v-layout>

              <v-layout row>
                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>O Международном плане</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                </div> 

                <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>О Международной ресурсной системе</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div>  

                  <div class="card">
                    
                    <div class="container">
                      <h4 id="naslovkartice"><b>Kartica</b></h4>
                      <p>Tekst teksjii aoskdm oakmsd alsdo okmasod aoksmdo ao osmkadoa oskmdoam sokd aoksdomasok kaoksd0ma aoksd0ams 0akosd0mamsdoa oik0masd0 0amdam</p>
                    </div>
                  </div> 
              </v-layout>
              <a id="strelica" href="#" v-scroll-to="'#zemljalayer'">
                <v-btn outline large fab color="white">
                  <v-icon id="strelicacentar">keyboard_arrow_up</v-icon>
                </v-btn>
              </a>
            </v-layout>
          </v-layout>
          
        </v-layout>
      </v-layout>
    </v-parallax>
    <v-layout v-scroll="onScroll" column align-center justify-center>
      
    </v-layout>
  </v-app>
</template>

<script>

import heder from "@/components/heder";

  export default {
    layout: 'start',
    components: {
      heder
      
    },
    data () {
      return {
        valueDeterminate: 50,
        skroler: 10,
        offsetTop: 0,
        fontSize: 20
        
      }
    },

    methods: {
      onScroll (e) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      }
    }
  }
</script>
<style>

#logo {
  height: 250px;
  padding: 0%;
  margin-top: -40px;
}

#title1 {
  margin-top: 10px;
}


#button1 {
  background-color: rgba(0,123,172,0.5);
} 

#title2 {
  margin-top: 5px;
  padding-bottom: 80px;
}

#kartice {
  margin-top: 950px;
  color: rgb(219, 220, 236);
  margin-bottom: 500px;
  width: 80%;
}

#strelica {
  color: white;
}

#strelica1 {
  margin-top: 320px;
  color: white;
}

#strelicacentar {
  position: relative;
  animation-name: goredole;
  animation-duration: 3s;
  animation-iteration-count: 100000;
}

@keyframes goredole {
  0%   {top:0px;}
  50%  {top:30px;}
  100% {top:0px;}
}

.content {
  margin-top: 200px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

 .card {
  /* Add shadows to create the "card" effect */
  height: 240px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  margin: 10px;
  width: 400px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 244, 244, 0.2);
  transform: scale(1.5);
  background-color: rgb(3, 3, 22)
}

.container {
  padding: 2px 16px;
}

#naslovkartice {
  margin-bottom: 8px;
  font-size: 20px;
}

#sadrzajkartica {
  margin-top: 60px;
}
#zemljalayer {
  margin-top: 825px;
}
#zemlja {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-top: 250px;
}
#linija {
  transform: rotate(90deg);
  
  width: 700px;
  margin-left: -300px;
  margin-top: 430px;
  position: fixed;
  
}

#linijasloj {

}

#maincontent {
  width: 95%;
  margin-right: 0;
}

#ikonica1{
  position: fixed;
  margin-left: 55px;
  margin-top: 70px;
  size: 50px;
}
#ikonica2{
  position: fixed;
  margin-left: 55px;
  margin-top: 445px;
}
#ikonica3 {
  position: fixed;
  margin-left: 55px;
  margin-top: 770px;
}

#ikonica1:hover{
  transform: scale(1.5);
}

#ikonica2:hover{
  transform: scale(1.5);
}

#ikonica3:hover{
  transform: scale(1.5);
}

</style>
